
@{
    ViewBag.Title = "Welcome";
}
<center>
    <h2>Welcome to the Maintenance Departments Management tool</h2>
    <h4>This tool is meant for internal department usage only. </h4>
    <h4>If you are a member of the department, you can view the list of @Html.ActionLink("Maintenance Requests", "Index", "Requests")</h4>
</center>