.listviewul {
    padding-left: 0;
}

    .listviewul li {
        padding: 5px;
        margin: 2px;
        border: 1px solid lightgrey;
        list-style-type: none;
    }

        .listviewul li:hover {
            border-color: black;
        }

.selectedlistviewitem {
    background-color: lightgrey;
}

.listviewitemspanel {
    height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.listviewcontrolcontainer {
    width: 250px;
}

.listviewcontrolcontainer .panel {
    margin-bottom: 0px;
}